<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AfriVest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E3080CD8137FDD10F8A86C8FBDD6E346F2C9F8E</string>
				<key>dateExpires</key>
				<string>28/06/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3080CD8137FDD10F8A86C8FBDD6E346F2C9F8E</string>
						<key>dateExpires</key>
						<string>28/06/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DXA5M4234Y</string>
						<key>name</key>
						<string>Code 256 Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3080CD8137FDD10F8A86C8FBDD6E346F2C9F8E</string>
						<key>dateExpires</key>
						<string>28/06/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DXA5M4234Y</string>
						<key>name</key>
						<string>Code 256 Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3080CD8137FDD10F8A86C8FBDD6E346F2C9F8E</string>
						<key>dateExpires</key>
						<string>28/06/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DXA5M4234Y</string>
						<key>name</key>
						<string>Code 256 Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7E3080CD8137FDD10F8A86C8FBDD6E346F2C9F8E</string>
						<key>dateExpires</key>
						<string>28/06/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DXA5M4234Y</string>
						<key>name</key>
						<string>Code 256 Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DXA5M4234Y.com.afrivest.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>DXA5M4234Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AfriVest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b7f66821-ceff-4772-8b19-b71fe74a4a79</string>
				<key>dateExpires</key>
				<string>16/09/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.afrivest.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DXA5M4234Y</string>
				<key>name</key>
				<string>Code 256 Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
